*{
	margin:0;
	padding:0;
}
html,body{
	width:100%;
	font-size:62.5%;
}
ul li{
	list-style:none;
}
.head{
	height:90px;
	clear:both;
	.set-home{
		width:1000px;
		margin:0 auto;
		position:relative;
		top:20px;
		left:0;
		ul{
			float:right;
			font-family:"iconfont";
			li{
				float:right;
				font-size:14px;
				margin-left:35px;
				span{
					color:#0059b5;
					font-size:14px;
				}
				b{
					font-size:20px;
					color:red;
				}
			}
		}
	}
	.gps{
		width:1000px;
		margin:0 auto;
		position:absolute;
		top:20px;
		left:200px;
		img{
			float:left;
		}
		ul{
			float:left;
			margin-top:35px; 
			margin-left:29px;
			.dox{
				background:#ff0000;
			}
			.fox{
				width:83px;
				height:40px;
				background:#ff0000;
				float:none;
			}
			li{
				float:left;
				margin-left:20px;
				font-size:16px;
				padding-top:10px;
				padding-bottom:10px;
				cursor:pointer;
			}
		}
	}
}
.serve{
	width:1000px;
	margin:0 auto;
	.serve-subhead{
		margin-left:430px;
		margin-top:56px;
		margin-bottom:26px;
		h1{
			font-size:16px;
			margin-left:20px;
		}
		p{
			font-size:16px;
			color: #c4c4c4;
		}
	}
	.enterprise-training{
		width:271px;
		height:312px;
		background:#fde07d; 
		float:left;
		border-radius:5%;
		h1{
			margin-left:100px;
			margin-top:17px;
			margin-bottom:17px; 
		}
		img{
			margin-left:62px;
		}
		p{
			border-top:1px dashed;
			padding-top:14px;
			width:240px;
			height:72px;
			margin-left:13px;
			margin-top:25px;
			line-height:30px;
		}
	}
	.labor-dispatching{
		width:271px;
		height:312px;
		background:#7292fa; 
		margin-left:88px;
		margin-right:88px;
		float:left;
		border-radius:5%;
		h1{
			margin-left:100px;
			margin-top:17px;
			margin-bottom:17px; 
		}
		img{
			margin-left:62px;
		}
		p{
			border-top:1px dashed;
			padding-top:14px;
			width:240px;
			height:72px;
			margin-left:13px;
			margin-top:25px;
			line-height:30px;
		}
	}
	.enteprise-serviece{
		width:271px;
		height:312px;
		background:#fba96c; 
		float:left;
		border-radius:5%;
		h1{
			margin-left:100px;
			margin-top:17px;
			margin-bottom:17px; 
		}
		img{
			margin-left:62px;
		}
		p{
			border-top:1px dashed;
			padding-top:14px;
			width:240px;
			height:72px;
			margin-left:13px;
			margin-top:25px;
			line-height:30px;
		}
	}
}
.customer{
	width:1000px;
	margin:0 auto;
	overflow:hidden;
	.case{
		margin-left:430px;
		margin-top:56px;
		margin-bottom:26px;
		h1{
			font-size:16px;
		}
		p{
			font-size:16px;
			color: #c4c4c4;
		}
	}
	.train{
		width:302px;
		height:389px;
		border:1px solid gray;
		box-shadow:0 0 10px gray;
		float:left;
		h1{
			margin-top:27px;
			font-size:14px;
			margin-left:18px;
			color:#64b9fa; 
		}
		img{
			margin-top:3px;
			margin-left:14px;
			border-top:1px solid gray;
			padding-top:23px;
		}
		p{
			width:260px;
			height:70px;
			margin-top:23px;
			margin-left:15px;
		}
		h2{
			width:76px;
			height:26px;
			background:#64b9fa;
			border-radius:5px;
			color:white;
			text-align:center;
			line-height:26px;
			float:right;
			margin-right:17px;
		}
	}
	.train-two{
		margin-left:43px;
	}
	.train-three{
		margin-left:43px;
	}
}
.information{
	width:1000px;
	margin:0 auto;
	margin-top:45px;
	overflow:hidden;
	.news-left{
		float:left;
		width:43%;
		.news-subhead{
			h1{
				float: left;
				font-size:16px;
				span{
					color:#ff4a4a;
					margin-left:13px;
				}
			}
			a{
				float:right;
				font-family:"iconfont";
				font-size:16px;
				span{
					color:#cb0001;
					font-size:20px;
				}
			}
		}	
		.news-content{
			float:left;
			border-bottom:1px solid gray;
			padding-bottom:15px;
			margin-top:15px;
			img{
					float: left;
				}
			h1{
				margin-left:25px;
				float:left;
			}
			p{
				text-indent:20px;
				line-height:25px;
				width:244px;
				float:left;
				margin-left:17px;
			}
		}
		ul{
			float:left;
			margin-top:10px;
			li{
				position:relative;
				margin-left:15px;
				line-height:35px;
				&:after{
					display:block;
					content:"";
					position:absolute;
					top:15px;
					left:-10px;
					width:5px;
					height:5px;
					border:1px solid blue;
				}
			}
		}
	}
	.news-right{
		float:right;
		width:43%;
		.news-recruitment{
			h1{
				float: left;
				font-size:16px;
				span{
					color:#ff4a4a;
					margin-left:13px;
				}
			}
			a{
				float:right;
				font-family:"iconfont";
				font-size:16px;
				span{
					color:#cb0001;
					font-size:20px;
				}
			}
		}
		.list{
			float:right;
			margin-top:15px;
			pre{
				height:36px;
				text-align:center;
				line-height:36px;
			}
			pre:nth-child(odd){
				background:#f0f0f0;
			}
		}
	}
}
.testimonials{
	width:1000px;
	margin:0 auto;
	.customer-testimonials{
		margin-top:43px;
		margin-bottom:40px;
			h1{
				font-size:16px;
				span{
					color:#ff4a4a;
					margin-left:10px;
				}
			}
	}
	ul{
		overflow:hidden;
		margin-right:-20px;
		li{
			float:left;
			margin-right:15px;
			p{
				margin-top:19px;
				margin-left:20px;
				margin-bottom:29px;
			}
		}
		.more{
			float:right;
			width:75px;
			height:26px;
			background:#64b9fa;
			border-radius:5px;
			text-align:center;
			line-height:26px;
			color:white;
			margin-right:40px;
		}
	}
	.blogroll{
		li{
			font-size:16px;
			&:nth-child(4),&:nth-child(2),&:nth-child(3){	
				position:relative;
				&:after{
				display:block;
				content:"";
				position:absolute;
				width:0;
				height:10px;
				top:3px;
				right:-10px;
				border:1px solid black;
				}
			}
			span{
				font-family:"iconfont";
				color:#64b9fa;
			}
			h2{
				color:red;
				font-size:16px;
			}
		}
	}
}
.tail{
	background:url("../image/footbg.png");
	margin-top:16px;
	height:326px;
	.tial-content{
		width:1000px;
		margin:0 auto;
		ul{
			margin-right:-70px;
			li{
				float:left;
				margin-right:70px;
				color:white;
				line-height:35px;
			}
		}
		p{
			clear:both;
			padding-top:24px;
			color:white;
		}
	}
	.qrcode{
		float:left;
		margin-left:229px;
		margin-top:30px;
		margin-right:114px;
		h4{
			color:white;
			margin-left:35px;
			margin-top:10px;
		}
	}
	.tel{
		float:left;
		width:293px;
		height:132px;
		background:rgba(0,0,0,0.5);
		color:white;
		border-radius:5%;
		margin-top:25px;
		h1{
			margin-left:10px;
			margin-top:10px;
		}
	}
	.fae{
		margin-top:20px;
		margin-left:100px;
	}
}